// Colors
$gray: #EBEBEB;
$gray2: #ECECEC;
$gray-soft: #F4F9F7;
$gray-soft2: #F0F0F0;
$gray-soft3: #E1E1E1;
$gray-soft3: #F5F5F5;
$gray-soft4: #E8E8E8;
$dark-gray: #6D6D6D;
$violet: #8274B6;
$silver: #E6E6F5;
$blue: #5A8EEF;
$blue-soft: #6FA2F3;
$green: #499E47;
$green-soft: #5ED45C;
$brown: #74512D;
$white: #FFF;
$black: #000;

// Breakpoints
$breakpoint-xr: 390px;
$breakpoint-xs: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 980px;
$breakpoint-xl: 1024px;

// Breakpoints max
$breakpoint-md-max: 767px;

// Breakpoints min
$breakpoint-xl-min: 1025px;
